<!DOCTYPE html>
<html>
  <head>
    <title>Aboutページ</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{content}}</p>
    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>